/* contenry */
#analyticalContainer{
    height: auto;
    width: 100vw;
    background-color: gray;
    margin: auto;
    display: flex;
}

#piGraph{
    flex: 0 0 auto;
}

#resultBox{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(15, 61, 79) 25%, rgb(44, 49, 51) 70%);
}

#inputAnalyticalData{

    height: 100%;
    width: 60%;
    background-color: rgb(44, 49, 51);
    overflow-y: scroll;
}

/*table man-hours + table external cost*/

#mhCalcTable, #costCalcTable {
    margin-top: 20px;
    flex: 0 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border-collapse: collapse;
    width: 90%;
    color: white;
}
#assumptionTableContainer{
    width: 100%;
    height: auto;
}

.calcAssumptionsTable, #resultProfitabilityTable {
    flex: 0 0 auto;
    width: 90%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border-collapse: collapse;
    color: white;
}

#resultBox table tbody tr td,
#resultBox table thead tr th {
    border-bottom: 2px solid rgb(44, 49, 51);
}

/* other tables*/
.calcAssumptionsTable tbody tr td:first-of-type, #resultProfitabilityTable tbody tr td:first-of-type{
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
}

.calcAssumptionsTable input{
    border: none;
    background-color: rgba(55,55,55, 0.5);
    color: white;
}
.shortInputRow input{
    width: 80px;
}
.longInputRow input{
    width: 300px;
}

.calcAssumptionsTable button{
    font-weight: bold;
    text-align: center;
    padding: 5px 0px;
    color: rgb(255, 255, 255);
    background-color: #2d2d2d;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 80px;
}

#resultProfitabilityTable tbody tr td:first-of-type{
    width: 100px;
}
